body{
    background-color: white;
    font-family: Futura, Futura-Medium, "Futura Medium", "Century Gothic", CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", sans-serif;
    font-size: 0.9em;
    margin: 0 0 0 1em;
    padding: 0;
    text-decoration: none;
}
td{
    font-size: 0.9em;
}
a{
    color:inherit;
    font-weight: normal;
    text-decoration: underline;
}
a:hover {
    background-color: black;
    color: white;
}
p{
    text-align: justify;
}
.icon{
  width: 1.5em;
  padding: 1%;
  display: block;
}
