:root{
  --main-colour-: #ad1f1f;
  --main-colour: #000000;
}
body {
  background-color: white;
  background-image: url('media/Na7Stripe.png');
  /*background-image: url('media/Na7Stripe.png');*/
  background-repeat: repeat;
  background-attachment: fixed;
  font-family: 'FuturaRennerRegular';
  font-weight: normal;
  font-style: normal;

}
.icon{
  width: 30px;
  margin-right: 0.75%;
}
.main{
  background-color: white;
  width: 86%;
  border: 2px solid black;
  padding: 2%;
  margin: 5%;
  margin-bottom: 2%

}
.title {
  font-weight: normal;
  display:inline;
  color: var(--main-colour);
  font-size:2.5em;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bolder;

}
h2{
  font-weight: normal;
  display:inline;
  color:black;
  font-size:2.5em;
  font-family: 'FuturaRennerLight';
  margin-bottom: 1em;
}
h3{


}
td {
  vertical-align: top;
}


a{
  color:inherit;
  font-weight: normal;
  text-decoration: underline;
}
a:hover {
  background-color: black;
  color: white;
}
.licence{
  color: black;
  background-color: white;
  margin-left: 5%;
  width: 90%;

  width: 86%;
  border: 2px solid black;
  padding-left: 2%;
  padding-right: 2%;
  margin: 5%;
  margin-top: 0%;
  margin-bottom: 2%

}

.column{
  width: 200px;
  text-align:justify;
}

.date {
  font-style:italic;
  text-align:left;
}
.picLink{
  position: relative;
  text-align: center;
  color: white;
  background-color: black;
}
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}
@font-face {
    font-family: 'FuturaRennerLight';
        src: url('webfonts/FuturaRenner-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaRennerRegular';
        src: url('webfonts/FuturaRenner-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.apc {
  height: 2px;
  width: 3.15cm;
  background-color: black;
}
