:root{
  --main-colour: #ad1f1f;
}
body {

  margin: 5%;
  font-family: "Tahoma";
}
div{

}
.title {
  font-weight: normal;
  display:inline;
  color: var(--main-colour);
  font-size:xx-large;
  text-decoration: none;
}
h2{
  font-weight: bold;
  display:inline;
  color:black;
  font-size:xx-large;
}
th, tr {
  vertical-align: top;
}


a{
  font-weight: normal;
  color: black;

}
.column{
  width: 200px;
  text-align:justify;
}

.date {
  font-style:italic;
  text-align:left;
}
.picLink{
  position: relative;
  text-align: center;
  color: white;
}
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}
