:root{
  --defaultSize: 1em;
}
body {
  background-color: white;
  background: url('media/BG2.jpg') no-repeat center center fixed;
  /*background-image: url('media/Na7Stripe.png');*/
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position:top;
  font-family: 'FuturaRennerExperimental', 'FuturaRennerRegular', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: var(--defaultSize);
  margin:0;
  padding:0;
  text-decoration: none;
}
hr{
  clear: both;
  border: 1px solid transparent;
  height: 0px;
}

td{
  font-size: var(--defaultSize);
  vertical-align: top;
}
h2{
  color:white;
  background-color:black;
  display:inline;
  padding-left: 0.5vh;
  position:relative;

  left:-1.5vh;
}
mark{
  color:white;
  background-color: black;/**/

}

.yellow-textbox{
  background-color: white;
  border-style: solid none none solid;
  border-width: 1vh;
  padding: 0 1vh 0 1vh;
  margin: 0 5% 2.5em 0
}
.icon{
  width: 7.5vh;
  padding: 1%;
  display: block;
}
.social{
  width:2em;
  height:2em;
  background-color:black;
  float:right;
  margin: 0 0 0 0.5em;
}
.social a{
  position: absolute;
  text-decoration: none;
  width: 1em;
  color: white;
  font-size: 2em;
  padding: 0 0 0 0.1em
}

a.biglink{
  text-decoration: underline;
  background-color: black;
  color: white;
}
a.biglink:hover{
  background-color: white;
  color: black;
}
a{
    color:inherit;
    font-weight: normal;
    text-decoration: underline;
}
a:hover {
    background-color: black;
    color: white;
}
.deskMenu{
  border-style: none solid none none;
  border-width: 1vh;
  position:fixed;
  left:0%;
  height:100%;
}
@media screen and (max-width:100vh){/*Hack to make dynamically rearrange for mobile/desktop*/
    .mobMenu{display:initial;}
    .deskMenu{display:none}
}
@media screen and (min-width:101vh){
    .mobMenu{display:none;}
    .deskMenu{display:initial}
}    
@font-face {
    font-family: 'FuturaRennerLight';
        src: url('webfonts/FuturaRenner-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaRennerRegular';
        src: url('webfonts/FuturaRenner-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'FuturaRennerExperimental';
        src: url('webfonts/FuturaRenner-Regular0.2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

@font-face {
    font-family: 'Jost-500';
    src: url('webfonts/Jost/OpenType/Jost-500-Medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;

}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  /* This is better for small screens, once min() is better supported */
  /* grid-template-columns: repeat(auto-fill, minmax(min(200px, 100%), 1fr)); */
  grid-gap: 1rem;
  /* This is the standardized property now, but has slightly less support */
  /* gap: 1rem */
}
